@import "tailwindcss";
@import "./home.css";
@import "./admin.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont-ExtraLightDEMO.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont/Mont-HeavyDEMO.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans:
        "Mont", "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
